{
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-color: rgb(86, 86, 151);
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);

}